*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0,0,0, 0.15);
    --default-border-radius: 1.2rem; 
}

body{
    font-family: Roboto;
    font-size: 1.4rem;
}

main{
    grid-area: formulario;
}
aside{
    grid-area: imagem;
}
.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". imagem . formulario ."
    ". imagem . formulario ."
    ". . . . ."
    ;
    gap: 8.5rem;
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span, main h2 span{
    color: #ff5678;
}



main{
    width: 60rem;
    height: 52rem;
    border: var(--default-border);
    padding: 5.7rem 4.4rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

main h2 {
    font-size: 3.6rem;
    max-width: 43rem;
    font-weight: 500;
}

main .actions{
        display: flex;
    flex-flow: column wrap;
}

main .actions a {
    margin-top: 5.4rem;
    font-size: 2.4rem;
    height: 5.5rem;
    border-radius: var(--default-border-radius);    
    text-decoration: none;
    background-color: #35e6e9;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

main .actions a + a {
    background-color: #ff5678;
    margin-top: 4.8rem;
}

main footer p {
    margin-top: 8rem;
    font-size: 1.6rem;
}

main footer a {
    font-size: 1.8rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: black;
}


/* pagina enidade */
main header{
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
}
main header i{
    font-size: 2rem;

    background-color: #ff5678;
    color: white;
}

main form{
    margin-top: 1.5rem;
}

main form label{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 1rem;
    display: block;
}

main form input, select{
    width: 48.9rem;
    height: 5.5rem;

    border: var(--default-border);
    background-color: white;
    border-radius: 12px;
}

main form .ponto_coleta{
    position: relative;
}

main form input + button{
    position: absolute;
    right: 0;
    top: 4.9rem;

    background-color: transparent;
    border: 0.1rem solid #35e6e9;
    border-radius: 50%;
    color: #35e6e9;

    cursor: pointer;
}



